<div class="container mt-5">
  <h1>Playlists</h1>

  <div class="list-group mt-3">
    <div routerLink="/" class="list-group-item list-group-item-action">
      Retourner sur la page de connexion
    </div>
  </div>

  <div class="list-group mt-3">
    <div routerLink="detail" class="list-group-item list-group-item-action">
      Aller sur la page de détail d'une playlist
    </div>
    <div routerLink="create" class="list-group-item list-group-item-action">
      Aller sur la page de création d'une playlist
    </div>
  </div>
</div>
