.card {
  width: 200px;

  .card-body {
    opacity: 0;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: opacity 500ms;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover {
    .card-body {
      opacity: 1;
      background-color: transparentize($color: #2a2a2a, $amount: 0.3);
    }
  }
}

.card-img {
  width: 100%;
}
