<div class="container p-5">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div formGroupName="searchData">
      <div class="form-group">
        <label for="idInput">Identifiant</label>
        <input class="form-control" id="idInput" type="text" formControlName="id" />
      </div>
      <div class="form-group">
        <label for="titleInput">Nom</label>
        <input class="form-control" id="titleInput" type="text" formControlName="name" />
      </div>
    </div>
    <div class="form-group">
      <label for="yearInput">Année</label>
      <input class="form-control" id="yearInput" type="number" formControlName="year" />
    </div>
    <button [disabled]="!searchForm.valid" class="btn btn-primary mt-3" type="submit">submit</button>
  </form>
</div>
