<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Donkey Story</a>
    <div class="d-flex">
      <button class="btn btn-outline-light" routerLink="/create">
        Créer un donkey
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="p-2">
    <div class="row">
      <div class="col">
        <app-user-donkeys-list></app-user-donkeys-list>
      </div>
      <div class="col">
        <app-donkeys-list></app-donkeys-list>
      </div>
    </div>

  </div>
</div>
